.clock {
    font-size: 100pt;
    font-family: 'Josefin Slab', serif;
	  font-weight: bold;
    text-align: center;
    color:#7cb518;
    text-shadow:  1px 1px 2px gray;
    margin-bottom: 20px;
	}
.mode{
  font-size: 22pt;
  font-family: 'Josefin Slab', sans;
}
.center {
  width:45%;
	margin:0px auto;
  text-align:center;
	box-shadow:  0 0 2px gray;
	background-color: #f3de2c;
  padding-top: 20px;
  margin-top: 80px;
  min-width: 540px;
}
.btn{
  font-size: 1em;
  width: 120%;
  max-width: 190px;
  margin: 5px;
}
select{
  font-size: 1.1em;
  display: inline-block;
}
p, .btn, select{
  color: #5c8001;
  font-family: sans-serif;
}
.note{
  margin:30px 10px;
  display: inline-block;
  font-size: 1.1em;
}
.block-center {
  text-align: center;
}
.block-center div {
  display: inline-block;
  text-align: left;
}
html{
  height: 100%;
  background-color: #fb6107;
  background: linear-gradient(to right bottom, #fb6107, #fbb02d );
}
